<div class="container">
    <div class="row justify-content-center">
        <div class="col-4">
            <form [formGroup]="changePasswordForm" class="row g-3 mb-3" (ngSubmit)="changePasswordForm.valid && changePassword()" autocomplete="off">

                <h2 class="text-center text-primary">Change password</h2>

                <app-text-input [formControl]='changePasswordForm.controls["email"]' [label]='"Email"'></app-text-input>
                <app-text-input [formControl]='changePasswordForm.controls["oldPassword"]' [label]='"Old password"' [type]='"password"'></app-text-input>
                <app-text-input [formControl]='changePasswordForm.controls["password"]' [label]='"New password"' [type]='"password"'></app-text-input>
                <app-text-input [formControl]='changePasswordForm.controls["confirmPassword"]' [label]='"Confirm password"' [type]='"password"'></app-text-input>

                <div class="row mt-2" *ngIf="validationErrors.length > 0">
                    <ul class="text-danger">
                        <li *ngFor="let error of validationErrors">
                            {{error}}
                        </li>
                    </ul>
                </div>

                <div class="form-group text-center">
                    <button [disabled]='!changePasswordForm.valid' class="btn btn-success" type="submit">Change</button>
                </div>
            </form>
        </div>
    </div>
</div>
