<div class="form-group">
    <input 
            [formControl]="ngControl.control"
            type={{type}}
            placeholder={{label}}
            class="form-control"
            [class.is-invalid]='ngControl.touched && ngControl.invalid'>

            <div *ngIf="ngControl.control.errors?.required" class="invalid-feedback">Please enter a {{label}}!</div>
            <div *ngIf="ngControl.control.errors?.minlength" class="invalid-feedback">{{label}} must be at least {{ngControl.control.errors.minlength['requiredLength']}} characters!</div>
            <div *ngIf="ngControl.control.errors?.maxlength" class="invalid-feedback">{{label}} must be at most {{ngControl.control.errors.maxlength['requiredLength']}} characters!</div>
            <div *ngIf="ngControl.control.errors?.notMatching" class="invalid-feedback">Password must match confirm password!</div>
</div>
